# Xcode
#
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*.xcscmblueprint
*.xcuserstate

# Swift Package Manager
#
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata
.swiftpm/xcode/package.xcworkspace/xcshareddata
.swiftpm/xcode/package.xcworkspace/xcuserdata
.swiftpm/xcode/xcuserdata
.swiftpm/xcode/xcschemes
Package.resolved

# CocoaPods
#
Pods/
Podfile.lock

# Carthage
#
Carthage/Build/